.container {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subcontainer {
  width: 70%;
  height: 70%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.remoteRow {
  width: 100%;
  height: 30%;
  flex-direction: row;
  justify-content: space-around;
}

.txt {
  font-size: 24px;
  width: 100%;
  text-align: center;
}

.imgDiv {
  width: 90px;
  height: 90px;
  border-radius: 45px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: blue;
}

.img {
  width: 30px;
  height: 30px;
}

.spinnerProgress {
  width: 100px;
  height: 100px;
  start-angle: 0;
  total-angle: 360;
  animation-name: turnMe;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  transform: rotate(0deg);
  color: #F8CD51;
  stroke-width: 5px;
}

@keyframes turnMe {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
